body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #071a03;
    color: #d6d3ae
  }

  a {
    color: #d6d3ae
  }
  
  h1 {
    color: #d6ae2f
    font-size: 2em;
    align-items: center;
  }
  
  h2 {
    font-size: 1.5em;
    color: #50630d
  }
  
  .villains {
    align-items: center;
    justify-content: center;
  }

  .filters {
    align-items: center;
    justify-content: center;
  }
  